In [ ]:
#Pandas is a fast, powerful, flexible and easy to use source data analysis and manipulation tool, built on top of the
#python programming language.
#. Series: A one-dimensional labeled array. It can hold any data type (Integers, floats, strings, etc.). It is similar to a column in  a spreadsheet or SQL table.
#    . Creating a series form a list, dictionary or NumPy array
#    . Accessing calues using integer indexes or labels
#    . Series attributes (values, index, dtype, etc.)

In [3]:
import pandas as pd

#Create a Series from a list
data_list = [10, 20, 30, 40, 50, 60]

seriesFromList = pd.Series(data_list)
print("Series form list is:\n ",seriesFromList) #Aagadi esaree kura haru lekhyo bhane, print garda euta space linchha

Series form list is:
  0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [4]:
# Create a series form dictionary
data_dict = {
    "Apple": 12,
    "Banana":10,
    "Cherry":5
}
seriesFromDict = pd.Series(data_dict)
print(seriesFromDict)

Apple     12
Banana    10
Cherry     5
dtype: int64

In [5]:
import numpy as np

#Creating a series from an numpy array
dataArray = np.array([120, 230, 204, 430, 404])
seriesFromArray = pd.Series(dataArray)
print(seriesFromArray)

0    120
1    230
2    204
3    430
4    404
dtype: int32

In [6]:
#Accessing the elements
dataList = [5, 10, 15, 20, 25, 30]
seriesFromList = pd.Series(dataList)
print(seriesFromList[0])

5

In [9]:
#Retriving data using labels
seriesWithLabels = pd.Series(dataList, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print(seriesWithLabels['a'])
print(seriesWithLabels['b'])

5
10

In [12]:
#Getting the values of the series
print(seriesFromList.values)

#Getting the index from series
print(seriesWithLabels.index)

[ 5 10 15 20 25 30]
Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [13]:
#DataFrame: A two-dimensional labeled data structure, similar to a spreadsheet or SQL table, with rows and columns.
#   Creating a DataFrame from dictionaries, list, series or numpy arrays.

In [14]:
import pandas as pd
#Creating a dataframe from a dictionary
dataDict = {
    "A": [1, 2, 4, 5],
    "B": [20, 30, 40, 50],
    "c": [90, 40, 30, 20]
}
dfFromDict = pd.DataFrame(dataDict)
print(dfFromDict)

   A   B   c
0  1  20  90
1  2  30  40
2  4  40  30
3  5  50  20

In [15]:
#Create a dataframe from a list of dictionaries
dataListOfDictionaries = [
    {'A': 1, 'B': 2, 'C': 3}, 
    {'A': 20, 'B':30, 'C': 43},
    {'A': 30, 'B': 43, 'C': 23}
]

dfFromListOfDictionaries = pd.DataFrame(dataListOfDictionaries)
print(dfFromListOfDictionaries)

    A   B   C
0   1   2   3
1  20  30  43
2  30  43  23

In [16]:
#Creating a DataFrame from multiple Series
seriesA = pd.Series([10, 20, 30, 40])
seriesB = pd.Series([50, 60, 70, 80])
seriesC = pd.Series([90, 100, 110, 120])

dfFromSeries = pd.DataFrame({
    'A': seriesA,
    'B': seriesB,
    'C': seriesC
})

print(dfFromSeries)

    A   B    C
0  10  50   90
1  20  60  100
2  30  70  110
3  40  80  120

In [19]:
import numpy as np

#Create a DataFrame from a numpy array
dataArray = np.array([[10, 20, 30], [40, 50, 60], [70, 80, 90]])
dfFromArray = pd.DataFrame(dataArray, columns = ['A', 'B', 'C'])
print(dfFromArray)

    A   B   C
0  10  20  30
1  40  50  60
2  70  80  90

In [20]:
#Display the structure of the DataFrame
print(dfFromArray.shape)
print(dfFromArray.columns)
print(dfFromArray.index)

(3, 3)
Index(['A', 'B', 'C'], dtype='object')
RangeIndex(start=0, stop=3, step=1)

In [5]:
import numpy as np
import pandas as pd

#Create a DataFrame from a Numpy Array
dataArray = np.array([[10, 20, 30], [40, 50, 60], [70, 80, 90]])
dfFromArray = pd.DataFrame(dataArray, columns = ['A', 'B', 'C'])
print(dfFromArray)

    A   B   C
0  10  20  30
1  40  50  60
2  70  80  90

In [2]:
# Accessing the data using columns names
print(dfFromArray['A'])
print()
print(dfFromArray[['A', 'B']])

0    10
1    40
2    70
Name: A, dtype: int32

    A   B
0  10  20
1  40  50
2  70  80

In [3]:
#Accessing the data using row label
print(dfFromArray.iloc[0])
print()
print(dfFromArray.loc[1])
print()
print(dfFromArray.iloc[0:2])
print()
print(dfFromArray.loc[0:2])

A    10
B    20
C    30
Name: 0, dtype: int32

A    40
B    50
C    60
Name: 1, dtype: int32

    A   B   C
0  10  20  30
1  40  50  60

    A   B   C
0  10  20  30
1  40  50  60
2  70  80  90

In [4]:
print(dfFromArray.dtypes)

A    int32
B    int32
C    int32
dtype: object

In [8]:
import numpy as np
import pandas as pd

#Create a DataFrame from a Numpy Array
dataArray = np.array([[10, 20, 30], [40, 50, 60], [70, 80, 90]])
dfFromArray = pd.DataFrame(dataArray, columns = ['A', 'B', 'C'])
print(dfFromArray)

#Adding a once column in the given datasates
dfFromArray['D'] = [100, 200, 300]
print(dfFromArray)

    A   B   C
0  10  20  30
1  40  50  60
2  70  80  90
    A   B   C    D
0  10  20  30  100
1  40  50  60  200
2  70  80  90  300

In [9]:
#Dropping a column from DataFrame
dfFromArray = dfFromArray.drop(columns=['A'])
print(dfFromArray)

    B   C    D
0  20  30  100
1  50  60  200
2  80  90  300

In [11]:
#Filtering rows based on condition 'B'>30
filterDataFrame = dfFromArray[dfFromArray['B']>30]
print(filterDataFrame)

    B   C    D
1  50  60  200
2  80  90  300

In [14]:
#Performing vectorized operations on DataFrame
#Series with values in column 'A' multiplied by 2
print(dfFromArray['B']*2)

#DataFrame with columns 'A' and 'B' incremented by 12
print(dfFromArray[['B', 'C']] + 12)

0     40
1    100
2    160
Name: B, dtype: int32
    B    C
0  32   42
1  62   72
2  92  102

In [18]:
print("Creating a DataFrame with missing values:")
dfWithNAN = pd.DataFrame({
    "A": [10, 20, None, 40],
    "B": [24, None, 32, 43],
    "C": [None, 43, 56, 23]
})
print(dfWithNAN)

Creating a DataFrame with missing values:
      A     B     C
0  10.0  24.0   NaN
1  20.0   NaN  43.0
2   NaN  32.0  56.0
3  40.0  43.0  23.0

In [24]:
print("Checking for missing data")
print(dfWithNAN.isnull())

print("\nRemoving the missing data")
#Don't use dropna haii, it removes all the row if it has one single nan data
print(dfWithNAN.dropna())

print("\nFilling the missing values")
print(dfWithNAN.fillna(0))

Checking for missing data
       A      B      C
0  False  False   True
1  False   True  False
2   True  False  False
3  False  False  False

Removing the missing data
      A     B     C
3  40.0  43.0  23.0

Filling the missing values
      A     B     C
0  10.0  24.0   0.0
1  20.0   0.0  43.0
2   0.0  32.0  56.0
3  40.0  43.0  23.0

In [27]:
#Creating a DataFrame of Sales with missing values
import pandas as pd

#Creating a DataFrame with missing data
salesData = {
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04'],
    'Product': ['Apple', 'Banana', 'Silk', 'Banana'],
    'unitSold': [10, None, 15, 26],
    'Revenue': [2000, 1750, None, 400]
}
dfSales = pd.DataFrame(salesData)
print(dfSales)

         Date Product  unitSold  Revenue
0  2024-01-01   Apple      10.0   2000.0
1  2024-01-02  Banana       NaN   1750.0
2  2024-01-03    Silk      15.0      NaN
3  2024-01-04  Banana      26.0    400.0

In [31]:
#Checking for missing values
print("Checking for mmissing values")
print(dfSales.isnull())

print("\nSum of the missing values")
print(dfSales.isnull().sum())

#Handeling the missing values by filling them
print(dfSales.fillna(0))

Checking for mmissing values
    Date  Product  unitSold  Revenue
0  False    False     False    False
1  False    False      True    False
2  False    False     False     True
3  False    False     False    False

Sum of the missing values
Date        0
Product     0
unitSold    1
Revenue     1
dtype: int64
         Date Product  unitSold  Revenue
0  2024-01-01   Apple      10.0   2000.0
1  2024-01-02  Banana       0.0   1750.0
2  2024-01-03    Silk      15.0      0.0
3  2024-01-04  Banana      26.0    400.0

In [33]:
import pandas as pd
import numpy as np

# Load the datasets


df = pd.read_csv('CSV_for_EDA.csv')

#Display the first few rows of datasets
print("Initial Data:")
df.head()

Initial Data:

,date,inside_sales,outside_sales,inside_covers,outside_covers,reserved_covers,walkin_covers,waitlist_covers,no_show_covers,no_show_parties,apparent_temperature,humidity,precip_intensity_max,precip_max_time,precip_prob,precip_type,pressure,summary,temperature
0,2017-01-02,13159.84,NaN,174,0,106,26,42,17,6,35.58,0.92,0.0242,15:00:00,0.79,rain,1027.98,rain,39.06
1,2017-01-03,12442.11,NaN,181,0,119,31,31,14,4,41.50,0.94,0.0913,17:00:00,0.77,rain,1000.08,rain,43.19
2,2017-01-04,12927.64,NaN,174,0,131,17,26,5,2,36.81,0.40,0.0176,00:00:00,0.00,rain,1002.55,clear-night,42.29
3,2017-01-05,14457.79,NaN,191,0,138,25,28,4,2,27.11,0.48,0.0000,05:01:00,0.00,none,1014.61,cloudy,31.36
4,2017-01-06,15331.97,NaN,200,0,130,16,54,6,3,24.74,0.48,0.0019,12:00:00,0.00,snow,1022.80,partly-cloudy-night,29.42

In [34]:
#Dsiplay the last few rows
print("The bottom few data are:")
df.tail()

The bottom few data are:

,date,inside_sales,outside_sales,inside_covers,outside_covers,reserved_covers,walkin_covers,waitlist_covers,no_show_covers,no_show_parties,apparent_temperature,humidity,precip_intensity_max,precip_max_time,precip_prob,precip_type,pressure,summary,temperature
893,2019-06-26,12605.00,4487.50,179,67,149,0,97,6,2,84.43,0.43,0.0005,00:00:00,0.00,rain,1015.74,partly-cloudy-day,84.43
894,2019-06-27,13675.62,5443.00,170,80,143,0,107,5,2,86.09,0.34,0.0001,02:00:00,0.00,none,1019.05,partly-cloudy-day,86.09
895,2019-06-28,14171.25,6180.50,177,74,145,0,106,12,4,83.09,0.43,0.0000,05:01:00,0.00,none,1019.41,partly-cloudy-day,83.09
896,2019-06-29,14695.50,5369.75,189,72,135,3,123,10,5,77.17,0.75,0.0571,18:00:00,0.01,rain,1011.84,partly-cloudy-day,76.33
897,2019-06-30,14073.24,6925.50,221,75,156,2,138,4,1,79.33,0.39,0.0033,16:00:00,0.00,rain,1008.91,partly-cloudy-day,79.33

In [35]:
#Printing the sum of null values
print(df.isnull().sum())

date                      0
inside_sales              0
outside_sales           475
inside_covers             0
outside_covers            0
reserved_covers           0
walkin_covers             0
waitlist_covers           0
no_show_covers            0
no_show_parties           0
apparent_temperature      0
humidity                  0
precip_intensity_max      0
precip_max_time           0
precip_prob               0
precip_type               0
pressure                  0
summary                   0
temperature               0
dtype: int64

In [5]:
#Homework
import pandas as pd
#Handeling the missing values
df = pd.read_csv('CSV_for_EDA.csv')
print("The result after handeling the missing value is:")
df.head().fillna(0) # My question is why better value when printed without print?

The result after handeling the missing value is:

,date,inside_sales,outside_sales,inside_covers,outside_covers,reserved_covers,walkin_covers,waitlist_covers,no_show_covers,no_show_parties,apparent_temperature,humidity,precip_intensity_max,precip_max_time,precip_prob,precip_type,pressure,summary,temperature
0,2017-01-02,13159.84,0.0,174,0,106,26,42,17,6,35.58,0.92,0.0242,15:00:00,0.79,rain,1027.98,rain,39.06
1,2017-01-03,12442.11,0.0,181,0,119,31,31,14,4,41.50,0.94,0.0913,17:00:00,0.77,rain,1000.08,rain,43.19
2,2017-01-04,12927.64,0.0,174,0,131,17,26,5,2,36.81,0.40,0.0176,00:00:00,0.00,rain,1002.55,clear-night,42.29
3,2017-01-05,14457.79,0.0,191,0,138,25,28,4,2,27.11,0.48,0.0000,05:01:00,0.00,none,1014.61,cloudy,31.36
4,2017-01-06,15331.97,0.0,200,0,130,16,54,6,3,24.74,0.48,0.0019,12:00:00,0.00,snow,1022.80,partly-cloudy-night,29.42

In [11]:
#Shape, Index, Columns, Size, Dimension
size = df.size
print("The size of DataFrame is:", size)

index = df.index
print("\nThe index of the DataFrame is:", index)

columns = df.columns
print("\nThe columns of the DataFrame are:", columns)

dimension = df.ndim
print("\nDimension of the DataFrame is:", dimension)

The size of DataFrame is: 17062

The index of the DataFrame is: RangeIndex(start=0, stop=898, step=1)

The columns of the DataFrame are: Index(['date', 'inside_sales', 'outside_sales', 'inside_covers',
       'outside_covers', 'reserved_covers', 'walkin_covers', 'waitlist_covers',
       'no_show_covers', 'no_show_parties', 'apparent_temperature', 'humidity',
       'precip_intensity_max', 'precip_max_time', 'precip_prob', 'precip_type',
       'pressure', 'summary', 'temperature'],
      dtype='object')

Dimension of the DataFrame is: 2

In [ ]:
#Vectorization operation